body {
  line-height: 1.6;
  background-color: rgb(218, 174, 242);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  width: 80%;
  background-color: rgb(139, 139, 225);
  border-radius: 1rem;
  padding: 1rem;
}

.form h1 {
  color: brown;
}

.form label {
  /* background-color: brown; */
  font-weight: bold;
  font-size: 1.2rem;
}

.form input {
  border: 0;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
}

.form-error {
  font-size: 1.5rem;
  color: rgb(113, 4, 4);
}

.content-heading th {
  color: brown;
}

th {
  color: rgb(20, 20, 20);
}

.table-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  font-size: 0.8rem;
}

.settings-btn-div {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}

.settings-btn {
  border-radius: 1rem;
  border: 0;
  /* margin: 1rem; */
  padding: 0.5rem 1rem;
  font-weight: bold;
  margin: 1rem;
  background-color: rgb(237, 146, 158);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.settings-btn:hover {
  color: white;
  background-color: black;
  transition: all 0.5s;
}

.table-container table {
  background-color: rgb(150, 150, 250);
  border-radius: 5px;
  width: 90%;
}

.settings-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-settings {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(92, 92, 149);
  margin-top: 10%;
  padding: 0.5rem;
  border-radius: 1rem;
}

.form-settings label {
  font-weight: bold;
  font-size: 1.2rem;
}

.form-settings h2 {
  color: wheat;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.settings-form-error {
  font-size: 1.5rem;
  color: rgb(232, 101, 101);
  font-weight: bold;
  text-align: center;
}

.userName-div,
.password-div {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-settings input {
  border: 0;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
}

.settings-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-button button {
  border: 0;
  height: 2rem;

  padding: 0 0.5rem;

  border-radius: 1rem;
  font-weight: bold;
  margin: 1rem;
  background-color: rgb(237, 146, 158);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.settings-button input {
  width: 5.5rem;
  border-radius: 1rem;
  border: 0;
  font-weight: bold;
  /* margin: 1rem; */
  background-color: rgb(237, 146, 158);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.table-container table tr th {
  border-bottom: 1px solid rgb(180, 177, 177);
  /* height: 2rem; */
}

.btn-submit {
  margin: 1rem;
  background-color: rgb(237, 146, 158);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-submit:hover {
  color: white;
  background-color: black;
  transition: all 0.5s;
}

.fetch-error {
  color: red;
  font-size: 1.3rem;
}

@media screen and (min-width: 760px) {
  .table-container {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1020px) {
  .table-container {
    font-size: 1.5rem;
  }

  .form {
    width: 50%;
  }

  .form-settings {
    width: 50%;
  }
}
